<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class=" margin-bottom70">
        <app-slider [sliderMovies]="populares | slice:0 :10" *ngIf="populares"></app-slider>
        <app-card-view [cardMovies]="populares | slice:0 :10" cardTitle="Popular" idCard="populars" *ngIf="populares"></app-card-view>
        <app-card-view [cardMovies]="ninos | slice:0 :10" cardTitle="Family" idCard="family" *ngIf="ninos"></app-card-view>

    </div>
</body>

</html>